<script setup lang="ts">
import Dummy from '@/components/Dummy.vue';
import NumberButton from '@/components/NumberButton.vue';
import { provide, ref } from 'vue';
const num1 = ref(0)
provide('num1', num1)
provide('num1Click', num1Click)
function num1Click() {
  num1.value++
}
</script>

<template>
  <div style="text-align: center;">
    <img style="width: 300px; border-radius: 50%;" src="../assets/art.jpg">
    <h3>Hello world, my name's Siwakorn.</h3>
    <Dummy></Dummy>
  </div>
</template>
